#chat-screen {
  background-color: #abc1d1;
  height: 11000vh;
}
#chat-screen .alt-header {
position: fixed;
width: 100%;
box-sizing: border-box;
}
#chat-screen .alt-header {
  top: 10px;
}

#chat-screen .status-bar {
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%;
}